body {
  margin: 0;
  padding: 0;
}

.masthead{
  background: url('/images/semizburg.png') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.masthead h1{
  text-align: center;
  padding: 200px 0 40px 0px;
  color: white;
}

.navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link{
  color: white !important;
}

.navbar-toggler{
  color: white !important;
}

ul{
  list-style: none;
  padding: 0px;
  
}
.card-img {
  width: 100%;
  height: 280px;
}

.card-body h2{
  font-size: 26px;
}

.card-body h3{
  font-size: 20px;
}

.card-text{
  font-size: 14px;
}

.info{
  font-size: 10px;
}


